@charset "utf-8";
/* CSS Document */
.title{ min-height: 30px;}
.addproduct1 {
	padding-bottom:40px; 
	line-height:100px;
}

.carlist{ border-bottom:1px solid #999; }

.carlist>li{ 
	padding:5px;
}
.carlist>li{
	border-bottom:solid 1px #999; 
}
.cart_main{ height:100px; line-height:100px; overflow:hidden;  }
.cart_main #btn{ padding-top: 30px;  line-height: 25px;}
.car_img{ 
	overflow:hidden; 
	height:90px; 
}
.car_img img{ max-width:90px;}
.cart_add{ height:85px; line-height: 85px;  overflow:hidden;  }
.add_img{ max-width:60px; display:inline-block; text-align:center;}
#bonus_list li{ padding:18px 0;}
.buyer{ padding: 10px 0;}
.product_imgs img{ padding:20px; width:50%; display: inline-block;}